.postHead {
    display: flex;
    align-items: center;
    column-gap: 20px;

}

.userProfile {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}

.userProfile img {
    width: 100%;
    height: 100%;

}

.postDetail {
    display: flex;
    flex-direction: column;
    /* row-gap: 12px; */
}

.postDetail h6 {
    color: black;
    font-weight: 600px;
    margin: 0;
}

.postDetail p {
    color: #666;
    font-size: 12px;
    margin: 0;
}