
.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 14px;
    
    /* margin-top: 0px; */
   

}

.form {
    border: 1px solid rgba(0, 0, 0, 0.532);
    border-radius: 8px;
    padding: 12px;
    margin-top: 15px;

}

.p {
    font-size: 24px;
    /* padding-top: 0px; */
    font-weight: 600;

}

.input-group {
    padding: 12px;
    display: flex;
    align-items: center;

}

.txt {
    padding: 7px;
    /* margin-left: 10px; */
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(0, 0, 0, 0.641);
}


h1 {
    font-size: 30px;
}

.submit-btn {
    margin-top: 15px;
    align-items: center;
    padding: 6px;
    width: 250px;
    border: 1px solid rgba(0, 128, 0, 0.448);
    background-color: rgba(0, 128, 0, 0.448);
    font-weight: bolder;
    font-size: 18px;
   margin-left: 18px;
    

}
.submit-btn:active{
    background-color: rgba(0, 128, 0, 0.549);

}